@model Steller.Models.tblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Öne Çıkan Alanı Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.featuredID)
    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.image, new { @class = "form-control" })
    <br />
    <label> Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label> Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label> Unvan</label>
    @Html.TextBoxFor(x => x.job, new { @class = "form-control" })
    <br />
    <label>Cv Dowland Url </label>
    @Html.TextBoxFor(x => x.CVdowlondurl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>

</form>
